
<swiper class="w-100"
[slidesPerView]="1"
[spaceBetween]="8"

[navigation]="true"

[breakpoints]="{
  '@0.00': {
    slidesPerView: 1,
    spaceBetween: 10
  },
  '@0.75': {
    slidesPerView: 2,
    spaceBetween: 10
  },
  '@1.00': {
    slidesPerView: 3,
    spaceBetween: 10
  },
  '@1.50': {
    slidesPerView: 6,
    spaceBetween: 10
  }
}">
 <ng-container *ngFor="let product of products">

  <ng-template swiperSlide *ngIf="product.stock>0" >
    <div  class="card border-0 rounded-0 position-relative "  style="width: 15rem;">

      <img [routerLink]="['/productsdetails', product.id]" [src]="product.thumbnail" class="rounded-0 m-0" style="width: 100%; height:200px; object-fit:fill;"  [alt]="product.description ">

     <div class="card-body text-center ">
        <p class="card-title my-3 ">{{product.description}}</p>
        <h5 class="card-text "> <span>{{"EGP" | translate}}</span> {{product.price}}.00</h5>
        <p style="font-size: 12px;" *ngIf="product.discountPercentage>0"><span style="text-decoration-line: line-through;">{{"EGP" | translate}} {{(product.price*(100+product.discountPercentage)/100)| number: '1.0-0'}} </span> <span class="fw-bolder ms-2" style="color:rgb(137, 225, 4)"> {{product.discountPercentage}}% {{"OFF" | translate}}</span></p>
        <div class="d-flex justify-content-between ">
          <p class="yellow-badge ps-1">{{"express" | translate}}</p>
           <p style="font-size: 12px;" class="text-warning  fw-bold"> <i class="bi bi-star-fill text-warning "></i>{{product.rating}}</p>
           </div>

      </div>

      <div *ngIf="product.rating>4.8" class="best-seller">
        {{"Best Seller" | translate}}
      </div>
      <div class="d-flex justify-content-around pb-2" *ngIf="sellerCode">
        <button class="btn btn-warning" routerLink="/Profile/{{product.id}}" routerLinkActive="router-link-active"  >Edit</button>
        <button class="btn btn-danger"(click)="deleteProduct(product.id)" >Delete</button>

      </div>
    </div>
  </ng-template>
  </ng-container>
</swiper>
