<div class="myNav">
  <div class="container-fluid">
    <div class="upperNav">
      <div class="row">
        <div class="col left">
          <div class="row">
            <div class="col-3">
              <a class="nav-link lang" href="#">العربيه</a>
            </div>
            <div class="col-9">
              <a class="nav-link d-flex" aria-current="page" href="#">
                <img
                  class="flag"
                  src="https://z.nooncdn.com/s/app/com/common/images/flags/eg.svg"
                  alt="egy"
                />
                <div class="ms-2">
                  <div class="place">
                    <span class="me-2">{{ "Delievered to" | translate }} </span>
                    <i class="fa fa-chevron-down"></i>
                  </div>
                  <span class="selected text-center">
                    {{ "Cairo, Egypt" | translate }}</span
                  >
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col right">
          <div class="row">
            <div class="col-6">
              <div class="nav-item">
                <svg
                  data-qa="icn_usp_easy_retuns"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <title id="title">usp_easy_retuns</title>
                  <path
                    d="M15.4768 16.7807C14.6632 17.3121 13.6914 17.6211 12.6459 17.6211C11.8305 17.6211 11.0604 17.4332 10.3753 17.0989C9.52455 16.6837 8.80377 16.042 8.29198 15.2523C7.76672 14.4418 7.46167 13.4758 7.46167 12.4369C7.46167 11.2657 7.84944 10.1865 8.50381 9.31877C9.45083 8.06294 10.9537 7.25268 12.6459 7.25268C15.509 7.25268 17.8301 9.57373 17.8301 12.4369C17.8301 13.1716 17.6776 13.8693 17.4029 14.5013C16.9966 15.4361 16.3223 16.2284 15.4768 16.7807Z"
                    fill="#FEEE00"
                    stroke="#333848"
                  ></path>
                  <path
                    d="M10 12.4665L11.9502 14.1997L15.3329 11"
                    stroke="#404553"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M3.44269 4.85794L12.6196 4.85794C16.8053 4.85794 20.1985 8.25115 20.1985 12.4369V12.4369C20.1985 16.6226 16.8053 20.0158 12.6196 20.0158H10.1943"
                    stroke="#333848"
                    stroke-linecap="round"
                  ></path>
                  <path
                    d="M4.89474 3L3 4.85794L4.89474 7.04863"
                    stroke="#333848"
                    stroke-linecap="round"
                  ></path>
                  <path
                    d="M7.78084 20.0158H5.79318"
                    stroke="#333848"
                    stroke-linecap="round"
                  ></path>
                </svg>
                <span>Free & Easy Returns</span>
              </div>
            </div>
            <div class="col-6">
              <div class="nav-item">
                <svg
                  data-qa="icn_usp_best_deals"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <title id="title">usp_best_deals</title>
                  <path
                    d="M20.8333 11.2525L18.6776 9.0968V5.89282C18.6776 5.57843 18.4218 5.32265 18.1074 5.32265H15.0588L12.9032 3.16701C12.7955 3.05933 12.6523 3 12.5 3C12.3477 3 12.2045 3.05933 12.0968 3.16701L9.94116 5.32269H6.89258C6.57818 5.32269 6.32241 5.57846 6.32241 5.89286V9.09687L4.16673 11.2525C3.94442 11.4748 3.94442 11.8365 4.16673 12.0588L6.32241 14.2145V17.4065C6.32241 17.7209 6.57818 17.9767 6.89258 17.9767H9.94116L12.0968 20.1324C12.2045 20.2401 12.3477 20.2994 12.5 20.2994C12.6523 20.2994 12.7955 20.2401 12.9032 20.1324L15.0588 17.9767H18.1074C18.4218 17.9767 18.6776 17.7209 18.6776 17.4065V14.2145L20.8333 12.0588C21.0556 11.8365 21.0556 11.4748 20.8333 11.2525Z"
                    fill="#FEEE00"
                    stroke="#404554"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M10.3288 10.6391C10.9666 10.6391 11.4837 10.122 11.4837 9.48421C11.4837 8.84638 10.9666 8.32932 10.3288 8.32932C9.69098 8.32932 9.17392 8.84638 9.17392 9.48421C9.17392 10.122 9.69098 10.6391 10.3288 10.6391Z"
                    fill="#FFEEB7"
                    stroke="#404554"
                    stroke-linecap="round"
                  ></path>
                  <path
                    d="M14.9666 14.842C15.6044 14.842 16.1214 14.3249 16.1214 13.6871C16.1214 13.0492 15.6044 12.5322 14.9666 12.5322C14.3287 12.5322 13.8117 13.0492 13.8117 13.6871C13.8117 14.3249 14.3287 14.842 14.9666 14.842Z"
                    fill="#FFEEB7"
                    stroke="#404554"
                    stroke-linecap="round"
                  ></path>
                  <path
                    d="M15.422 8.32932L9.60139 14.8469"
                    stroke="#404554"
                    stroke-linecap="round"
                  ></path>
                </svg>
                <span>Best Deals</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lowerNav">
      <nav class="navbar navbar-expand-lg p-0">
        <a class="navbar-brand" [routerLink]="['/Home']">
          <img
            src="https://z.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-en.svg"
            alt="Noon"
          />
        </a>
        <ul class="search navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item location">
            <a class="nav-link d-flex" aria-current="page" href="#">
              <img
                class="flag"
                src="https://z.nooncdn.com/s/app/com/common/images/flags/eg.svg"
                alt="egy"
              />
              <div class="ms-2">
                <div class="place">
                  <span class="me-2">{{ "Delievered to" | translate }}</span>
                  <i class="fa fa-chevron-down"></i>
                </div>
                <span class="selected text-center">{{
                  "Cairo, Egypt" | translate
                }}</span>
              </div>
            </a>
          </li>
          <li class="searchArea nav-item">
            <div class="d-flex search-field" role="search">
              <input
                class="form-control me-2"
                type="search"
                (change)="onchange($event)"
                placeholder="what are you looking for ?"
                aria-label="Search"
              />
              <button class="mybtn" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </li>
        </ul>
        <div
          class="navbar-nav left-nav me-auto mb-2 mb-lg-0 ps-3"
          style="flex-direction: row"
        >
          <div class="nav-item sign d-flex language">
            <span (click)="changeCurrentLang($event)" class="btn btn-dark"
              >ar</span
            >
          </div>

          <div *ngIf="!isLogged" class="nav-item sign d-flex">
            <a class="nav-link" routerLink="/login">{{
              "login" | translate
            }}</a>
          </div>
          <div  *ngIf="isLogged" class="nav-item sign d-flex">
            <a class="nav-link" (click)="logout()" routerLink="/Home">{{
              "logout" | translate
            }}</a>
          </div>
          <div class="nav-item sign d-flex text-center">
            <a class="nav-link" routerLink="/userProfile">
              <i class="fa fa-user"></i
            ></a>
          </div>
          <div class="nav-item cart d-flex">
            <a class="nav-link" [routerLink]="['/cart']">{{
              "Cart" | translate
            }}</a>
            <div class="d-flex flex-column icon">
              <span>{{ totalItem }}</span>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
