<div class="rightside p-4">
    <h5>Order Summary</h5>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="code cepon or Gift card" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">Apply</button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="mt-4">subtotal(1 item)</p>
            <p class="mt-4">Shipping <a href="#">Detials</a></p>
        </div>
        <div class="col-4">
            <p class="mt-4">Egy 56000,00</p>
            <p class="mt-4">Free</p>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            <p class="mt-4">Total(inclusive of Vat)</p>
        </div>
        <div class="col-4">
            <p class="mt-4">Egy 56000,00</p>
        </div>
        <div class="col-12 text-center">
            <img src="https://z.nooncdn.com/s/app/com/noon/icons/emi.svg">
            <p class="d-inline">Monthly payment plans from EGP 500</p>
            <a routerLink="order"> <button class="w-75 btn btn-primary">Check OUT</button></a>
        </div>

    </div>


</div>