<div class="row" style="background-color: #f7f7fa;">
  <div class="col-lg-2">
    <div class="sc-6a72e040-3 juIHfI">
      <div class="sc-6a72e040-4 fNMDAX">
        <div data-qa="filter-container">
          <div class="sc-22aec865-0 eAQYDH">
            <div data-qa="Fulfillment" class="sc-517ef466-0 bFJNfk">
              <div class="sc-517ef466-1 cMiONB">
                <div open="" class="sc-517ef466-2 heqrHC">
                </div>
              </div>
              <div class="sc-22aec865-0 eAQYDH">
                <div data-qa="Category" class="sc-517ef466-0 bFJNfk">
                  <div class="sc-517ef466-1 cMiONB">
                    <div class="sc-517ef466-3 dMBOlX">
                      <div class="sc-517ef466-3 dMBOlX"><span (click)="getValue($event)" data-name=''>Category</span>
                      </div><img src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg" alt="Category"
                        class="sc-afe2674f-1 cfKlFZ open">
                    </div>
                  </div>
                  <div open="" class="sc-517ef466-2 heqrHC">
                    <ul class="sc-f87e2b7-0 brIkoP">
                      <li class="sc-8de4e34f-0 hSPkqe expander"><a>
                          <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                              <div class="sc-7d9be1f5-0 dVWzTu"><img
                                  src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/minus-grey.svg"
                                  alt="minusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw"></div>
                            </i><span (click)="getValue($event)" data-name='women'> {{"Women" | translate}} </span></div>
                        </a>
                        <div class="sc-8de4e34f-3 ioedRD">
                          <ul><a>
                              <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)" data-name='womens-shoes'>{{"Women's Shoes" | translate}}</li>
                            </a>
                            <li class="sc-8de4e34f-0 hSPkqe"><a>
                                <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                    <div class="sc-7d9be1f5-0 dVWzTu"><img
                                        src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                        alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw"></div>
                                  </i><span (click)="getValue($event)" data-name='womens-watches'>{{"Women Watches" | translate}} </span>
                                </div>
                              </a>
                              <div class="sc-8de4e34f-3 bFBjnN">
                                <ul><a>
                                    <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)" data-name='skincare'>
                                      {{"SkinCare" | translate}}</li>
                                  </a>
                                  <li class="sc-8de4e34f-0 hSPkqe"><a>
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span (click)="getValue($event)" data-name='sunglasses'>{{"SunGlasses" | translate}}</span>
                                      </div>
                                    </a>
                                    <div class="sc-8de4e34f-3 bFBjnN">
                                      <ul><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='lighting'>{{"Lighting" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='motorcycle'>{{"Motorcycle" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='fragrances'>{{"Fragrances" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='laptops'>{{"Laptops" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='mens-watches'>{{"Men Watches" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='furniture'>{{"Women Watches" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)" data-name='home'>
                                            {{"Home" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='home-decoration'>{{"Home Decoration" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='automotive'>{{"Automotive" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='womens-dresses'> {{"Women Dresses" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='womens-jewellery'>{{"Women Jewellery" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='mens-shirts'>{{"Men T-shirts" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)" data-name='tops'>
                                            {{"Tops" | translate}}
                                          </li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='smartphones'>{{"SmartPhones" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='groceries'>{{"Grocery" | translate}}</li>
                                        </a><a>
                                          <li class="sc-8de4e34f-4 bOfLTf" (click)="getValue($event)"
                                            data-name='womens-bags'>{{"Women's Bags" | translate}}</li>
                                        </a></ul>
                                    </div>
                                  </li>
                                      </ul>
                                      </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  <div class="col-lg-10">
    <div class="item">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 ">
        <ng-container *ngFor="let SingleProduct of ArrayOfProducts | filter:termSec; let i=index">
          
          <div class="col px-3 py-4 border-1 rounded-2 " *ngIf="SingleProduct.stock > 0">
            <div class="card h-100 rounded-0 ">
              <button class="w-100 border-0 rounded-0 bg-white " (click)="ShowProductDetails(SingleProduct.id)"
                [routerLink]="['/productsdetails', SingleProduct.id]">
                <img [src]="SingleProduct.thumbnail" class="w-100 card-img-top" [alt]="SingleProduct.description">
              </button>
              <div class="card-body text-center ">
                <p class="card-title my-3 ">{{SingleProduct.description}}</p>
                <h5 class="card-text "> <span>{{"EGP" | translate}}</span> {{SingleProduct.price}}.00</h5>
                <p style="font-size: 12px;" *ngIf="SingleProduct.discountPercentage>0"><span
                    style="text-decoration-line: line-through;">{{"EGP" | translate}}
                    {{(SingleProduct.price*(100+SingleProduct.discountPercentage)/100)| number: '1.0-0'}}
                  </span> <span class="fw-bolder ms-2" style="color:rgb(137, 225, 4)">
                    {{SingleProduct.discountPercentage}}%
                    {{"OFF" | translate}}</span>
                  
                </p>
                <div class="d-flex justify-content-between ">
                  <p class="yellow-badge ps-1">{{"express" | translate}}</p>
                  <p style="font-size: 12px;" class="text-warning  fw-bold"> <i
                      class="bi bi-star-fill text-warning "></i>{{SingleProduct.rating}}</p>
                </div>
              </div>
              <div *ngIf="SingleProduct.rating>4.8" class="best-seller">
                {{"Best Seller" | translate}}
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
