.is-invalid{
  border-left: 5px solid #F00;
}
.is-valid{
  border-left: 5px solid #080;
}
form{
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 15px rgb(254 238 0);
  border-radius: 10px;
  background-color: #fff;
  label{
    font-weight: bold;
  }
  .btn{
    background-color: rgb(254, 238, 0);
    color: #000;
  }
}
