<div class="footerSection">
  <div class="upper">
    <div class="row">
      <div class="col-lg-5">
        <div class="upperLeft">
          <h3>{{"We're Always Here To Help" | translate}}</h3>
          <p>{{"Reach out to us through any of these support channels" | translate}}</p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="upperRight">
          <div class="row">
            <div class="col-sm-4">
              <div class="contactWays">
                <p>
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </p>
                <div class="content">
                  <h5>{{"HELP CENTER" | translate}}</h5>
                  <a href="#">
                    <h3>help.noon.com</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="contactWays">
                <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                <div class="content">
                  <h5>{{"EMAIL SUPPORT" | translate}}</h5>
                  <a href="mailto:egypt@noon.com" target="_blank"
                    ><h3>egypt@noon.com</h3></a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="contactWays">
                <p><i class="fa fa-phone" aria-hidden="true"></i></p>
                <div class="content">
                  <h5>{{"PHONE SUPPORT" | translate}}</h5>
                  <a href="">
                    <h3>16358</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="middel">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"ELECTRONICS" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Mobiles" | translate}}</a></li>
            <li><a>{{"Tablets" | translate}}</a></li>
            <li><a>{{"Laptops" | translate}}</a></li>
            <li><a>{{"Home Appliances" | translate}}</a></li>
            <li><a>{{"Camera, Photo & Video" | translate}}</a></li>
            <li><a>{{"Televisions" | translate}}</a></li>
            <li><a>{{"Headphones" | translate}}</a></li>
            <li><a>{{"Video Games" | translate}}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"FASHION" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Women's Fashion" | translate}}</a></li>
            <li><a>{{"Men's Fashion" | translate}}</a></li>
            <li><a>{{"Girls' Fashion" | translate}}</a></li>
            <li><a>{{"Boys' Fashion" | translate}}</a></li>
            <li><a>{{"Men's Watches" | translate}}</a></li>
            <li><a>{{"Women's Watches" | translate}}</a></li>
            <li><a>{{"Eyewear" | translate}}</a></li>
            <li><a>{{"Bags & Luggage" | translate}}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"HOME AND KITCHEN" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Kitchen & Dining" | translate}}</a></li>
            <li><a>{{"Bedding" | translate}}</a></li>
            <li><a>{{"Bath" | translate}}</a></li>
            <li><a>{{"Home Decor" | translate}}</a></li>
            <li><a>{{"Home Appliances" | translate}}</a></li>
            <li><a>{{"Tools & Home Improvement" | translate}}</a></li>
            <li><a>{{"Patio, Lawn & Garden" | translate}}</a></li>
            <li><a>{{"Home Storage & Organisation" | translate}}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"BEAUTY" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Women's Fragrance" | translate}}</a></li>
            <li><a>{{"Men's Fragrance" | translate}}</a></li>
            <li><a>{{"Make-Up" | translate}}</a></li>
            <li><a>{{"Haircare" | translate}}</a></li>
            <li><a>{{"Skincare" | translate}}</a></li>
            <li><a>{{"Personal Care" | translate}}</a></li>
            <li><a>{{"Tools & Accessories" | translate}}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"KIDS, BABY & TOYS" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Strollers, Prams & Accessories" | translate}}</a></li>
            <li><a>{{"Car Seats" | translate}}</a></li>
            <li><a>{{"Baby Clothing" | translate}}</a></li>
            <li><a>{{"Feeding" | translate}}</a></li>
            <li><a>{{"Bathing & Skincare" | translate}}</a></li>
            <li><a>{{"Diapering" | translate}}</a></li>
            <li><a>{{"Baby & Toddler Toys" | translate}}</a></li>
            <li><a>{{"Toys & Games" | translate}}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">{{"TOP BRANDS" | translate}}</h3>
          <ul class="list-unstyled">
            <li><a>{{"Apple" | translate}}</a></li>
            <li><a>{{"Samsung" | translate}}</a></li>
            <li><a>{{"Nike" | translate}}</a></li>
            <li><a>{{"Ray-Ban" | translate}}</a></li>
            <li><a>{{"Tefal" | translate}}</a></li>
            <li><a>{{"L'Oreal Paris" | translate}}</a></li>
            <li><a>{{"Chicco" | translate}}</a></li>
            <li><a>{{"Tornado" | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lower">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="d-flex flex-column align-items-center">
            <h4>{{"SHOP ON THE GO" | translate}}</h4>
            <div class="d-flex">
              <a href="#" class="myLink">
                <img
                  src="https://z.nooncdn.com/s/app/com/common/images/logos/app-store.svg"
                />
              </a>
              <a href="#" class="myLink">
                <img
                  src="https://z.nooncdn.com/s/app/com/common/images/logos/google-play.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex flex-column align-items-center">
            <h4>{{"CONNECT WITH US" | translate}}</h4>
            <ul class="list-unstyled d-flex">
              <li>
                <p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="copyText text-center">
              <p>&copy;{{"2022 noon. All Rights Reserved" | translate}}</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="payWays">
              <ul class="d-flex list-unstyled justify-content-around">
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/visa-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/mastercard-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/cash-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/amex-color.svg"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <ul class="nav justify-content-center links">
          <li class="nav-item">
            <a href="#" class="myLink">{{"Careers" | translate}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">{{"Warranty Policy" | translate}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">{{"Sell with us" | translate}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">{{"Terms of Use" | translate}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">{{"Terms of Sale" | translate}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">{{"Privacy Policy" | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
